<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "base/style", "base/doc", "base/custom" %>
  </head>
  <body>
    <div class="container content-inner">
      <%= yield :navigation %>
      <%= yield %>
    </div>
    <%= javascript_include_tag "jquery", "jquery_ujs" %>
  </body>
</html>
