<% content_for :navigation do %>
  <%= link_to "All Documents", root_path, class: "button orange-button mobile-full" %>
  <%= link_to "All #{@klass.to_s.pluralize}", documents_path(model_param(@klass)), class: "button orange-button mobile-full" %>
<% end %>

<div class="section header">
  <div class="container clear">
    <h1 class='logo'>New <%= @klass %></h1>
  </div>
</div>

<%= form_for @document, url: create_document_path(model_param(@klass)) do |form| %>
  <fieldset class='row'>
    <% Mongoid::Scribe.fields_for(@klass).each_pair do |name, config| %>
      <%= Mongoid::Scribe::Builders::Field.new(form, @klass, @document, name, config).field %>
    <% end %>
    <%= link_to("Cancel", documents_path(model_param(@klass)), class: "button orange-button mobile-full") %>
    <%= form.submit("Create #{@klass}", class: "button orange-button mobile-full") %>
  </fieldset>
<% end %>
