<% content_for :navigation do %>
  <%= link_to "All Documents", document_listing_path, class: "button orange-button mobile-full" %>
  <%= link_to @klass.to_s.pluralize, documents_path(model_param(@klass)), class: "button orange-button mobile-full" %>
<% end %>

<div class="section header">
  <div class="container clear">
    <h1 class='logo'>Viewing: <%= @document.id %></h1>
  </div>
</div>
<%= link_to "Edit", edit_document_path(model_param(@klass), @document.id), class: "button orange-button mobile-full" %>

<table>
  <% @klass.fields.each do |attribute, meta| %>
    <tr>
      <td class='key'><%= attribute %></td>
      <td><%= @document.send(attribute) %></td>
    </tr>
  <% end %>
</table>

<h3>Relations:</h3>
<% @klass.relations.each do |relation, meta| %>
  <%= Mongoid::Scribe::Builders::Relation.new(@document, relation).listing %>
<% end %>
