<div class="section header">
  <div class="container clear">
    <h1 class='logo'>Viewing: <%= @document.id %></h1>
  </div>
</div>
<h3><%= link_to "Edit", edit_document_path(model_param(@klass), @document.id) %></h3>

<% @klass.fields.each do |key, value| %>
  <p><b><%= key %>:</b> <%= @document.send(key) %></p>
<% end %>

<hr>
<h2>Relations:</h2>
<% @klass.relations.each do |key, value| %>
  <h3><%= key %></h3>
  <% if [:has_many, :has_and_belongs_to_many].include?(@document.relations[key].macro) %>
    <% @document.send(key).each do |relation| %>
      <p><%= link_to relation.send(:id), document_path(model_param(value.class_name), relation.send(:id)) %></p>
    <% end %>
  <% elsif [:has_one, :belongs_to].include?(@document.relations[key].macro) %>
    <% if relation = @document.send(key) %>
      <p><%= link_to relation.send(:id), document_path(model_param(value.class_name), relation.send(:id)) %></p>
    <% end %>
  <% end %>
<% end %>
